* {
  box-sizing: border-box;
  font-family: sans-serif;;
}



input {
  width: 100%;
  height: 50px;
  margin-right: 20px;
  padding: 0 15px;
  border: 1px solid gray;
  /*border-radius: 5px;*/
  box-shadow: inset -2px -2px 2px 2px gray, 0 0 12px 2px black;
  font-size: 1.7em;
}

input:focus {

}

button {
  height: 50px;
  width: 50%;
  font-size: 1.7em;
  color: gray;
  box-shadow: inset -2px -2px 2px 2px gray, inset 2px 2px 2px 2px white;
}

.results-div {
  display: none;
}

table {
  border: 1px solid black;
  width: 100%;
  margin: auto;
  text-align: left;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding: 5px 15px;
}

td {
  padding: 5px 15px;
}

body {
/*background: url("../img/tomato-bg.jpg") center center no-repeat fixed;
background-size: cover;*/
}

.container {
  padding: 40px;
  overflow: auto;
}

.form-div {
  background-color: #20bd50;
  width: 50%;
  min-width: 200px;
  padding: 20px;
  float: left;
}

.form-group {
  display: block;
  padding: 20px 0px;
}

.results-div {
  border: 2px solid lightgrey;
  width: 50%;
  min-width: 200px;
  min-height: 409px;
  float: left;
  padding: 20px;
  background-color: white;
}

#sort-button {
  background-color: lightgreen;
}

#sort-button:hover {
  background-color: #3a9425;
  cursor:pointer;
}

#zombie-button:hover {
  background-color: #3a9425;
}

/*#zombie-div {
  height: 100vh;
  background: url("../img/zombie.png") center center fixed;
  background-size: cover;
  display: none;
}*/
